@model MovieTicketApp_MVC_project.Models.Actor

@{
    ViewData["Title"] = "Create New Actor";
}
<div class="row text">
    <div class="col-md-4 offset-2 text-warning"><p><h2>Add New Actor</h2></p></div>
</div>
<hr />
<div class="row d-flex justify-content-center text-light">
    <div class="col-md-4 offset-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <img src="model.ProfilepictureURL" id="ProfilePicturePreview" class="border-info rounded my-4" style="max-width: 150px" />
            </div>
            <div class="form-group my-3" >
                <label asp-for="ProfilepictureURL" class="control-label"></label>
                <input  asp-for="ProfilepictureURL" class="form-control"/>
                <span asp-validation-for="ProfilepictureURL" class="text-danger"></span>

            </div>
            <div class="form-group my-3" >
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group my-3" >
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-success rounded p-3 float-end " />
                <a  asp-action="Index"><i class="bi bi-house text-info float-start" style="font-size:30px"></i></a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilepictureURL").val();
        })

        $("#ProfilepictureURL").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
bi.bi-house{
    font-size:30px;
}
</style>
