@model MovieTicketApp_MVC_project.Models.Producer

@{
    ViewData["Title"] = "Create";
}
<style>
    label{
        color:white;
    }
</style>
<div class="row text-warning">
    <div class="col-md-4 offset-2"><p><h2>Add New Producer</h2></p></div>
</div>
<hr />
<div class="row d-flex justify-content-center text-light">
    <div class="col-md-4 offset-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center my-3 rounded">
                <img src="model.ProfilepictureURL" id="ProfilePicturePreview" class="border-info rounded" style="max-width: 150px" />
            </div>
            <div class="form-group my-2 ">
                <label asp-for="ProfilepictureURL" class="control-label"></label>
                <input asp-for="ProfilepictureURL" class="form-control" />
                <span asp-validation-for="ProfilepictureURL" class="text-danger"></span>

            </div>
            <div class="form-group my-2">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Create" class="btn btn-success rounded p-3 float-end " />
                <a asp-action="Index"><i class="bi bi-house text-info float-start fa-4x"></i></a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-warning text-decoration-none">Back to List</a>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilepictureURL").val();
        })

        $("#ProfilepictureURL").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

